                .search-filters radio-selector {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    font-family: Montserrat, sans-serif;
                    box-sizing: border-box;
                }
                
                .radio-selector__title {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    line-height: 1.42857143;
                    font-family: Montserrat, sans-serif;
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    font-size: 20px;
                    font-weight: 700;
                    color: #1e0785;
                    text-transform: uppercase;
                }
                
                .radio-selector__options {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    font-family: Montserrat, sans-serif;
                    box-sizing: border-box;
                    position: relative;
                }
                
                .radio-button__opt {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    font-family: Montserrat, sans-serif;
                    box-sizing: border-box;
                    display: inline-block;
                    margin-right: 4px;
                }
                
                .radio-selector__input {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    font: inherit;
                    color: inherit;
                    font-family: inherit;
                    font-size: inherit;
                    visibility: hidden;
                    position: absolute;
                    left: -999999px;
                    box-sizing: border-box;
                    padding: 0;
                    margin: 4px 0 0;
                    line-height: normal;
                }
                
                .radio-selector__button {
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    font-size: 14px;
                    line-height: 1.42857143;
                    font-family: Montserrat, sans-serif;
                    box-sizing: border-box;
                    max-width: 100%;
                    margin-bottom: 5px;
                    display: inline-block;
                    width: 155px;
                    text-align: center;
                    padding-top: 6px;
                    padding-bottom: 4px;
                    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .1);
                    font-weight: 400;
                    margin-top: -2px;
                    cursor: pointer;
                    color: #fff;
                    background: #8731E8;
                }
                
                .radio-selector__input+.radio-selector__button {
                    display: inline-block;
                    color: #fff;
                    width: 155px;
                    text-align: center;
                    background: #8731E8;
                    padding-top: 6px;
                    padding-bottom: 4px;
                    -webkit-box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .1);
                    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .1);
                    font-weight: 400;
                    margin-top: -2px;
                    cursor: pointer;
                }
                
                .radio-selector__title {
                    position: absolute;
                    left: 300px;
                    font-size: 20px;
                    font-weight: 700;
                    color: #1e0785;
                    text-transform: uppercase;
                }
                
                body {
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                }
                
                .radio-selector {
                    padding-top: 70px;
                    padding-right: 30px;
                    padding-bottom: 50px;
                    padding-left: 389px;
                }
                
                body {
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    background-color: #fff;
                }
                
                .radio-button__opt {
                    display: inline-block;
                    margin-right: 4px;
                }
                
                .radio-selector__input {
                    visibility: hidden;
                    position: absolute;
                    left: -999999px;
                }
                
                button,
                input,
                select,
                textarea {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }
                
                label {
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-weight: 700;
                }