<!-- <div data-v-0ab9df8f="" class="clearfix"></div>
<form data-v-0ab9df8f="" id="formData" method="post" action=""></form>
<div data-v-0ab9df8f="" class="progress-separator">
  <hr data-v-0ab9df8f="" />

</div>

<div
  data-v-0ab9df8f=""
  style="
    padding-top: 301px;
    padding-right: 229px;
    padding-bottom: 50px;
    padding-left: 231px;
  "
>

     <article
    data-v-0ab9df8f=""
    data-price="800.5"
    data-rank="858.5"
    data-note="5.00"
    data-gamme="1"
    class="result-search-item"
  >
    <div class="result-col__title">
      <div class="result-avatar">
        <img
          alt="Avatar"
          src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202003/108627/profile-108627-large.png"
          class="result-avatar-img"
        />
      </div>
      <div class="result-note">
        <div class="result-name">
          <h3 class="result-title">Stéphane Bouchaid</h3>
          <h5 dusk="companyName_5004" class="result-heading">
            Société FAST DRIVE SERVICES
          </h5>
        </div>
        <div class="result-avis">
          <div class="result-stars">
            <i class="fa fa-star star-gold"></i>
            <span class="result-stars__tag">5.00/5 – 5 avis</span>
          </div>
        </div>
      </div>
    </div>
    <div class="result-col__mid">
      <div class="result-vehicle">
        <div
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="result-model"
          data-original-title="MERCEDES CLASSE C"
        >
          <span class="result-model-text">MERCEDES CLASSE C</span>
          (<strong>Economique</strong>)
        </div>
        <div class="result-sieges">
          <span class="result-val">4</span> Sièges
          <span class="result-val">4</span> Bagages
        </div>
      </div>
      <div class="result-services">
        <span class="label label-info"
          ><i class="fa fa-baby"></i>
          Siège auto
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-wifi"></i>
          Wi-Fi
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-female"></i>
          Femme chauffeur
        </span>
      </div>
    </div>
    <div class="result-col__cta">
      <div class="result-reserve">
        <p class="result-time">
          <em>Bonne réactivité</em>
        </p>
        <h3 class="result-prix">
          <span dusk="finalPriceNormal_5004" class="result-prix-tag"
            >800.5 €</span
          >
        </h3>
        <button
          dusk="choose_5004"
          class="result-choisir btn-e2 btn"
          style="background=#8731E8"
        >
          Choisir
        </button>
      </div>
    </div>
  </article>
  <article
    data-v-0ab9df8f=""
    data-price="817.2"
    data-rank="870.2"
    data-note="5.00"
    data-gamme="1"
    class="result-search-item"
  >
    <div class="result-col__title">
      <div class="result-avatar">
        <img
          alt="Avatar"
          src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202004/112242/profile-112242-large.png"
          class="result-avatar-img"
        />
      </div>
      <div class="result-note">
        <div class="result-name">
          <h3 class="result-title">Zakarya Drissi</h3>
          <h5 dusk="companyName_6551" class="result-heading">
            Société Zakarya
          </h5>
        </div>
        <div class="result-avis">
          <div class="result-stars">
            <i class="fa fa-star star-gold"></i>
            <span class="result-stars__tag">5.00/5 – 2 avis</span>
          </div>
        </div>
      </div>
    </div>
    <div class="result-col__mid">
      <div class="result-vehicle">
        <div
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="result-model"
          data-original-title="Toyota auris"
        >
          <span class="result-model-text">Toyota auris</span>
          (<strong>Economique</strong>)
        </div>
        <div class="result-sieges">
          <span class="result-val">4</span> Sièges
          <span class="result-val">3</span> Bagages
        </div>
      </div>
      <div class="result-services">
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-baby"></i>
          Siège auto
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-wifi"></i>
          Wi-Fi
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-female"></i>
          Femme chauffeur
        </span>
        <span class="label label-info"
          ><i class="fa fa-plug"></i>
          Hybride
        </span>
      </div>
    </div>
    <div class="result-col__cta">
      <div class="result-reserve">
        <p class="result-time"><em>Bonne réactivité</em></p>
        <h3 class="result-prix">
          <span dusk="finalPriceNormal_6551" class="result-prix-tag"
            >817.2 €</span
          >
        </h3>
        <button dusk="choose_6551" class="result-choisir btn-e2 btn">
          Choisir
        </button>
      </div>
    </div>
  </article>
  <article
    data-v-0ab9df8f=""
    data-price="857"
    data-rank="884"
    data-note="5.00"
    data-gamme="1"
    class="result-search-item"
  >
    <div class="result-col__title">
      <div class="result-avatar">
        <img
          alt="Avatar"
          src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202007/122386/profile-122386-large.png"
          class="result-avatar-img"
        />
      </div>
      <div class="result-note">
        <div class="result-name">
          <h3 class="result-title">Adrien Angot</h3>
          <h5 dusk="companyName_8182" class="result-heading">
            Société Angot
          </h5>
        </div>
        <div class="result-avis">
          <div class="result-stars">
            <i class="fa fa-star star-gold"></i>
            <span class="result-stars__tag">5.00/5 – 1 avis</span>
          </div>
        </div>
      </div>
    </div>
    <div class="result-col__mid">
      <div class="result-vehicle">
        <div
          data-toggle="tooltip"
          data-placement="top"
          title=""
          class="result-model"
          data-original-title="Ford mondeo vignale hybride"
        >
          <span class="result-model-text">Ford mondeo vignale hybride</span>
          (<strong>Economique</strong>)
        </div>
        <div class="result-sieges">
          <span class="result-val">2</span> Sièges
          <span class="result-val">2</span> Bagages
        </div>
      </div>
      <div class="result-services">
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-baby"></i>
          Siège auto
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-wifi"></i>
          Wi-Fi
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-female"></i>
          Femme chauffeur
        </span>
        <span class="label label-info"
          ><i class="fa fa-plug"></i>
          Hybride
        </span>
      </div>
    </div>
    <div class="result-col__cta">
      <div class="result-reserve">
        <p class="result-time"><em>Très bonne réactivité</em></p>
        <h3 class="result-prix">
          <span dusk="finalPriceNormal_8182" class="result-prix-tag"
            >857 €</span
          >
        </h3>
        <button dusk="choose_8182" class="result-choisir btn-e2 btn">
          Choisir
        </button>
      </div>
    </div>
  </article>
  <article
    data-v-0ab9df8f=""
    data-price="847.17"
    data-rank="886.17"
    data-note="0.00"
    data-gamme="1"
    class="result-search-item"
  >
    <div class="result-col__title">
      <div class="result-avatar">
        <img
          alt="Avatar"
          src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202007/121618/profile-121618-large.png"
          class="result-avatar-img"
        />
      </div>
      <div class="result-note">
        <div class="result-name">
          <h3 class="result-title">Souleymane Diaby</h3>
          <h5 dusk="companyName_8121" class="result-heading">
            Société Diabysvtc
          </h5>
        </div>
        <div class="result-avis">
          <div class="result-stars">
            <i class="fa fa-star star-gold"></i>
            <span class="result-stars__tag">Pas d'avis</span>
          </div>
        </div>
      </div>
    </div>
    <div class="result-col__mid">
      <div class="result-vehicle">
        <div
          data-toggle="tooltip"
          data-placement="top"
          title="508 sw 1.6 bluehdi 120 ch"
          class="result-model"
        >
          <span class="result-model-text">508 sw 1.6 bluehdi 120 ch</span>
          (<strong>Economique</strong>)
        </div>
        <div class="result-sieges">
          <span class="result-val">4</span> Sièges
          <span class="result-val">3</span> Bagages
        </div>
      </div>
      <div class="result-services">
        <span class="label label-info"
          ><i class="fa fa-baby"></i>
          Siège auto
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-wifi"></i>
          Wi-Fi
        </span>
        <span class="label label-info" style="display: none;"
          ><i class="fa fa-female"></i>
          Femme chauffeur
        </span>
      </div>
    </div>
    <div class="result-col__cta">
      <div class="result-reserve">
        <p class="result-time"><em>Très bonne réactivité</em></p>
        <h3 class="result-prix">
          <span dusk="finalPriceNormal_8121" class="result-prix-tag"
            >847.17 €</span
          >
        </h3>
        <button dusk="choose_8121" class="result-choisir btn-e2 btn">
          Choisir
        </button>
      </div>
    </div>
  </article>
</div> -->
           <!--<div data-v-0ab9df8f="" class="clearfix"></div>
                <form data-v-0ab9df8f="" id="formData" method="post" action=""></form>
                    <div data-v-0ab9df8f="" class="progress-separator">
                        <hr data-v-0ab9df8f="">
                    </div>    -->
                    <div data-v-0ab9df8f="" style="padding-right: 229px;padding-bottom: 50px;padding-left: 231px;">
                        <article data-v-0ab9df8f="" data-price="800.5" data-rank="858.5" data-note="5.00" data-gamme="1" class="result-search-item">
                            <div class="result-col__title">
                                <div class="result-avatar">
                                    <img alt="Avatar" src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202003/108627/profile-108627-large.png" class="result-avatar-img">
                                </div>
                                <div class="result-note">
                                    <div class="result-name">
                                        <h3 class="result-title">Stéphane Bouchaid</h3>
                                            <h5 dusk="companyName_5004" class="result-heading">
                                                 Société FAST DRIVE SERVICES
                                            </h5>
                                    </div>
                                    <div class="result-avis">
                                        <div class="result-stars">
                                            <i class="fa fa-star star-gold"></i>
                                                <span class="result-stars__tag">5.00/5 – 5 avis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="result-col__mid">
                                <div class="result-vehicle">
                                    <div data-toggle="tooltip" data-placement="top" title="" class="result-model" data-original-title="MERCEDES CLASSE C">
                                        <span class="result-model-text">MERCEDES CLASSE C</span>
                                        (<strong>Economique</strong>)
                                    </div>
                                </div>
                                <div class="result-sieges">
                                    <span class="result-val">4</span> Sièges <span class="result-val">4</span> Bagages
                                </div>

                                <div class="result-services">
                                    <span class="label label-info"><i class="fa fa-baby"></i>
                                        Siège auto
                                    </span>
                                    <span class="label label-info" style="display: none;"><i class="fa fa-wifi"></i>
                                        Wi-Fi
                                    </span>
                                    <span class="label label-info" style="display: none;"><i class="fa fa-female"></i>
                                        Femme chauffeur
                                    </span>
                                </div>
                            </div>
                            <div class="result-col__cta">
                                <div class="result-reserve"><p class="result-time">
                                    <em>Bonne réactivité</em></p>
                                        <h3 class="result-prix">
                                            <span dusk="finalPriceNormal_5004" class=" result-prix-tag">800.5 €</span>
                                        </h3>
                                        <button dusk="choose_5004" class="result-choisir btn-e2 btn" style="color:white">
                                            Choisir
                                        </button>
                                </div>
                            </div>
                        </article>
                        <article data-v-0ab9df8f="" data-price="817.2" data-rank="870.2" data-note="5.00" data-gamme="1" class="result-search-item">
                            <div class="result-col__title">
                                <div class="result-avatar">
                                    <img alt="Avatar" src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202004/112242/profile-112242-large.png" class="result-avatar-img">
                                </div>
                                <div class="result-note">
                                    <div class="result-name">
                                        <h3 class="result-title">Zakarya Drissi</h3>
                                            <h5 dusk="companyName_6551" class="result-heading">
                                                Société Zakarya
                                            </h5>
                                    </div>
                                    <div class="result-avis">
                                        <div class="result-stars">
                                            <i class="fa fa-star star-gold"></i>
                                            <span class="result-stars__tag">5.00/5 – 2 avis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result-col__mid">
                                <div class="result-vehicle">
                                    <div data-toggle="tooltip" data-placement="top" title="" class="result-model" data-original-title="Toyota auris">
                                        <span class="result-model-text">Toyota auris</span>
                                        (<strong>Economique</strong>)
                                    </div>
                                <div class="result-sieges">
                                        <span class="result-val">4</span> Sièges <span class="result-val">3</span> Bagages
                                    </div>
                                </div>
                                <div class="result-services">
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-baby"></i>
                                        Siège auto
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-wifi"></i>
                                        Wi-Fi
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-female"></i>
                                            Femme chauffeur
                                    </span>
                                    <span class="label label-info">
                                        <i class="fa fa-plug"></i>
                                        Hybride
                                    </span>
                                </div>
                            </div>
                            <div class="result-col__cta">
                                <div class="result-reserve">
                                    <p class="result-time"><em>Bonne réactivité</em></p>
                                    <h3 class="result-prix">
                                        <span dusk="finalPriceNormal_6551" class=" result-prix-tag">817.2 €</span>
                                    </h3>
                                    <button dusk="choose_6551" class="result-choisir btn-e2 btn" style="color:white">Choisir
                                    </button>
                                </div>
                            </div>
                        </article>
                        <article data-v-0ab9df8f="" data-price="857" data-rank="884" data-note="5.00" data-gamme="1" class="result-search-item">
                            <div class="result-col__title">
                                <div class="result-avatar">
                                    <img alt="Avatar" src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202007/122386/profile-122386-large.png" class="result-avatar-img">
                                </div>
                                <div class="result-note">
                                    <div class="result-name">
                                        <h3 class="result-title">Adrien Angot</h3>
                                            <h5 dusk="companyName_8182" class="result-heading">
                                                Société Angot
                                            </h5>
                                    </div>
                                    <div class="result-avis">
                                        <div class="result-stars">
                                            <i class="fa fa-star star-gold"></i>
                                                <span class="result-stars__tag">5.00/5 – 1 avis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result-col__mid">
                                <div class="result-vehicle">
                                    <div data-toggle="tooltip" data-placement="top" title="" class="result-model" data-original-title="Ford mondeo vignale hybride">
                                        <span class="result-model-text">Ford mondeo vignale hybride</span>
                                        (<strong>Economique</strong>)
                                    </div>
                                    <div class="result-sieges">
                                        <span class="result-val">2</span> Sièges <span class="result-val">2</span> Bagages
                                    </div>
                                </div>
                                <div class="result-services">
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-baby"></i>
                                            Siège auto
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-wifi"></i>
                                        Wi-Fi
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-female"></i>
                                        Femme chauffeur
                                    </span>
                                    <span class="label label-info">
                                        <i class="fa fa-plug"></i>
                                        Hybride
                                    </span>
                                </div>
                            </div>
                            <div class="result-col__cta">
                                <div class="result-reserve">
                                    <p class="result-time"><em>Très bonne réactivité</em></p>
                                    <h3 class="result-prix">
                                        <span dusk="finalPriceNormal_8182" class=" result-prix-tag">857 €</span>
                                    </h3>
                                    <button dusk="choose_8182" class="result-choisir btn-e2 btn" style="color:white">Choisir </button>

                                </div>
                            </div>
                        </article>
                        <article data-v-0ab9df8f="" data-price="847.17" data-rank="886.17" data-note="0.00" data-gamme="1" class="result-search-item">
                            <div class="result-col__title">
                                <div class="result-avatar">
                                    <img alt="Avatar" src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202007/121618/profile-121618-large.png" class="result-avatar-img">
                                </div>
                                <div class="result-note">
                                    <div class="result-name">
                                        <h3 class="result-title">Souleymane Diaby</h3>
                                        <h5 dusk="companyName_8121" class="result-heading">
                                            Société Diabysvtc
                                        </h5>
                                    </div>
                                    <div class="result-avis">
                                        <div class="result-stars">
                                            <i class="fa fa-star star-gold"></i>
                                            <span class="result-stars__tag">Pas d'avis</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result-col__mid">
                                <div class="result-vehicle">
                                    <div data-toggle="tooltip" data-placement="top" title="508 sw 1.6 bluehdi 120 ch" class="result-model">
                                        <span class="result-model-text">508 sw 1.6 bluehdi 120 ch</span>
                                        (<strong>Economique</strong>)
                                    </div>
                                    <div class="result-sieges">
                                        <span class="result-val">4</span> Sièges
                                        <span class="result-val">3</span> Bagages
                                    </div>
                                </div>
                                <div class="result-services">
                                    <span class="label label-info">
                                        <i class="fa fa-baby"></i>
                                        Siège auto
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-wifi"></i>
                                        Wi-Fi
                                    </span>
                                    <span class="label label-info" style="display: none;">
                                        <i class="fa fa-female"></i>
                                        Femme chauffeur
                                    </span>
                                </div>
                            </div>
                            <div class="result-col__cta">
                                <div class="result-reserve">
                                    <p class="result-time"><em>Très bonne réactivité</em></p>
                                    <h3 class="result-prix">
                                        <span dusk="finalPriceNormal_8121" class=" result-prix-tag">847.17 €</span>
                                    </h3>
                                    <button dusk="choose_8121" class="result-choisir btn-e2 btn" style="color:white">Choisir</button>
                                </div>
                            </div>
                        </article>
                    </div>


