<!--
  By Ahmed Ferjani

  *Autocomplete for places(departure/arrival)
  *Geolocalisation for place of departure (navigator & google maps api to transfer lat and lng to human readable address)
  *Wizard with 3 steps

  The commented sections can be used in future purposes such as :
  *adding options : car brand ...
  *detecting the type of place for bus/train stations
-->

<!-- STAR HEADER SEARCH -->
<!--section id="home" class="section welcome-area bg-overlay overflow-hidden" style="margin-top: -100px;"-->
<section
  id="home"
  class="section welcome-area bg-overlay overflow-hidden"
  style="margin-top: -100px;"
>
  <form [formGroup]="searchForm">
    <div class="hero-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center">
                Explore The Best VTCs In The World
              </h1>
              <h5 class="sub-title text-center">
                Find some of the best tips from around the city from our
                partners and friends.
              </h5>
            </div>
          </div>

          <div class="col-12">
            <div class="banner-search-wrap">
              <ul class="nav nav-tabs rld-banner-tab">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tabs_1"
                    >Départ</a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tabs_2" #etape2
                    >Arrivé</a
                  >
                </li>
                <li class="nav-item rest">
                  <a class="nav-link" data-toggle="tab" href="#tabs_3" #etape3
                    >Options</a
                  >
                </li>

                <!-- Step 4 for options -->
                <!-- <li class="nav-item rest">
                  <a class="nav-link" data-toggle="tab" href="#tabs_4" #etape4
                    >etape 4</a
                  >
                </li> -->
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="tabs_1">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="col-12">

                        <div
                          class="checkbox-option pull-right"
                          [ngClass]="{ checked: isImmediate }"
                          (click)="isImmediate = !isImmediate"
                          data-toggle="tooltip" data-placement="top" title="Immediat"
                        >

                          <div class="inner"></div>
                          <input type="checkbox" />
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="rld-single-input home-icon">
                          <input
                            type="text"
                            placeholder="Adresse de départ?"
                            formControlName="addressDeparture"
                            ngx-google-places-autocomplete
                            [options]="options"
                            #placesRef="ngx-places"
                            (onAddressChange)="setSelectedDeparture($event)"
                            data-toggle="tooltip" data-placement="top" title="Adresse de départ?"
                          />
                        </div>
                      </div>
                    </div>

                    <!-- <div class="row" [hidden]="true">
                      <div class="col-2">
                        <label for="departureType">Type d'adresse : </label>
                      </div>
                      <div class="col-6">
                        <div class="rld-single-select">
                          <select
                            id="departureType"
                            class="select single-select"
                            [(ngModel)]="selectedDeparture"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <option value="0">Par defaut</option>
                            <option value="1">Aéroport</option>
                            <option value="2">Gare de train</option>
                            <option value="3">Gare routère</option>
                            <option value="4">Port maritime</option>
                          </select>
                        </div>
                      </div>
                    </div> -->

                    <div [ngSwitch]="selectedDeparture">
                      <div *ngSwitchCase="1">
                        <div class=""></div>
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="volinfoDeparture"
                                >Je connais mon vol : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="volinfoDeparture"
                                formControlName="volInfoKnownDeparture"
                                (click)="showInfo()"
                              />
                            </div>
                          </div>
                          <div
                            *ngIf="
                              searchForm.value.volInfoKnownDeparture;
                              then volInfoKnownDepartureBlock;
                              else volInfoNotKnownDepartureBlock
                            "
                          ></div>

                          <!-- si je connais mon vol -->
                          <ng-template #volInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  #placesRef="ngx-places"
                                  [options]="options"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je ne connais pas mon vol-->
                          <ng-template #volInfoKnownDepartureBlock>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Numero de vol"
                                  formControlName="volNumDeparture"
                                  #volNumDeparture
                                  (change)="checkVolNum(volNumDeparture.value)"
                                />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de vol"
                                  disabled
                                />
                              </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Type de vol"
                                  disabled
                                />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input
                                  type="time"
                                  placeholder="Heure"
                                  disabled
                                />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                  disabled
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="2">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="volInfoKnownDeparture"
                                >Je connais mon train : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="volInfoKnownDeparture"
                                formControlName="trainInfoKnownDeparture"
                              />
                            </div>
                          </div>
                          <div
                            *ngIf="
                              searchForm.value.trainInfoKnownDeparture;
                              then trainInfoKnownDepartureBlock;
                              else trainInfoNotKnownDepartureBlock
                            "
                          ></div>
                          <!-- si je ne connais mon train -->
                          <ng-template #trainInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je  connais pas mon train-->
                          <ng-template #trainInfoKnownDepartureBlock>
                            <div class="col-4">
                              <div class="rld-single-input train-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de train"
                                />
                              </div>
                            </div>

                            <div class="col-4">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>

                            <div class="col-4">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="3">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="busInfoKnownDeparture"
                                >Je connais mon bus : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="busInfoKnownDeparture"
                                name="busInfoKnownDeparture"
                                formControlName="busInfoKnownDeparture"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.busInfoKnownDeparture;
                              then busInfoKnownDepartureBlock;
                              else busInfoNotKnownDepartureBlock
                            "
                          ></div>

                          <!-- si je connais mon bus -->
                          <ng-template #busInfoKnownDepartureBlock>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input bus-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de bus"
                                />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je ne connais pas mon bus-->
                          <ng-template #busInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="4">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="portInfoKnownDeparture"
                                >Je connais mon navire : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="portInfoKnownDeparture"
                                formControlName="portInfoKnownDeparture"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.portInfoKnownDeparture;
                              then portInfoKnownDepartureBlock;
                              else portInfoNotKnownDepartureBlock
                            "
                          ></div>
                          <!-- si je ne connais pas mon navire -->
                          <ng-template #portInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je  connais  mon navire-->
                          <ng-template #portInfoKnownDepartureBlock>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input ship-icon">
                                <input
                                  type="text"
                                  placeholder="Numéro du navire"
                                />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input ship-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance du navire"
                                />
                              </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <!--div *ngSwitchCase="3">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="busInfoKnownDeparture"
                                >Je connais mon bus : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="busInfoKnownDeparture"
                                name="busInfoKnownDeparture"
                                formControlName="busInfoKnownDeparture"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.busInfoKnownDeparture;
                              then busInfoKnownDepartureBlock;
                              else busInfoNotKnownDepartureBlock
                            "
                          ></div>

                          si je connais mon bus
                          <ng-template #busInfoKnownDepartureBlock>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de bus"
                                />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input type="text" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                />
                              </div>
                            </div>
                          </ng-template>

                           si je ne connais pas mon bus
                          <ng-template #busInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input home-icon">
                                <input type="text" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="4">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="portInfoKnownDeparture"
                                >Je connais mon navire : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="portInfoKnownDeparture"
                                formControlName="portInfoKnownDeparture"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.portInfoKnownDeparture;
                              then portInfoKnownDepartureBlock;
                              else portInfoNotKnownDepartureBlock
                            "
                          ></div>
                          si je ne connais pas mon navire
                          <ng-template #portInfoNotKnownDepartureBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input home-icon">
                                <input type="text" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                />
                              </div>
                            </div>
                          </ng-template>

                          si je  connais  mon navire
                          <ng-template #portInfoKnownDepartureBlock>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance du navire"
                                />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Numéro du navire"
                                />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input type="text" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input home-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div-->
                      <div *ngSwitchDefault></div>
                    </div>

                    <div class="col-xl-12 col-lg-14 col-md-12 col-centered">
                      <a
                        class="btn btn-yellow"
                        (click)="etape2.click()"
                        style="margin-top: 10px;"
                        >SUIVANT</a
                      >
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tabs_2">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="col-12">
                        <div class="rld-single-input flag-icon">
                          <input
                            type="text"
                            placeholder="Adresse d'arrivé?"
                            ngx-google-places-autocomplete
                            [options]="options"
                            #placesRef="ngx-places"
                            (onAddressChange)="setSelectedArrival($event)"
                            data-toggle="tooltip" data-placement="top" title="Adresse d'arrivé?"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row" [hidden]="true">
                      <div class="col-2">
                        <label for="arrivalType">Type d'adresse : </label>
                      </div>
                      <div class="col-6">
                        <div class="rld-single-select">
                          <select
                            id="arrivalType"
                            class="select single-select"
                            [(ngModel)]="selectedArrival"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <option value="0">Par defaut</option>
                            <option value="1">Aéroport</option>
                            <option value="2">Gare de train</option>
                            <option value="3">Gare routère</option>
                            <option value="4">Port maritime</option>
                          </select>
                        </div>
                      </div>
                    </div> -->

                    <div [ngSwitch]="selectedArrival">
                      <div *ngSwitchCase="1">
                        <div class=""></div>
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="volinfoArrival"
                                >Je connais mon vol : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="volinfoArrival"
                                formControlName="volInfoKnownArrival"
                                (click)="showInfo()"
                              />
                            </div>
                          </div>
                          <div
                            *ngIf="
                              searchForm.value.volInfoKnownArrival;
                              then volInfoKnownArrivalBlock;
                              else volInfoNotKnownArrivalBlock
                            "
                          ></div>

                          <!-- si je connais mon vol -->
                          <ng-template #volInfoNotKnownArrivalBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je ne connais pas mon vol-->
                          <ng-template #volInfoKnownArrivalBlock>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Numero de vol"
                                  #volNumArrival
                                  (change)="checkVolNum(volNumArrival.value)"
                                />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de vol"
                                  disabled
                                />
                              </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input plane-icon">
                                <input
                                  type="text"
                                  placeholder="Type de vol"
                                  disabled
                                />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input
                                  type="time"
                                  placeholder="Heure"
                                  disabled
                                />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                  disabled
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="2">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="volInfoKnownArrival"
                                >Je connais mon train : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="volInfoKnownArrival"
                                formControlName="trainInfoKnownArrival"
                              />
                            </div>
                          </div>
                          <div
                            *ngIf="
                              searchForm.value.trainInfoKnownArrival;
                              then trainInfoKnownArrivalBlock;
                              else trainInfoNotKnownArrivalBlock
                            "
                          ></div>
                          <!-- si je ne connais mon train -->
                          <ng-template #trainInfoNotKnownArrivalBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je  connais pas mon train-->
                          <ng-template #trainInfoKnownArrivalBlock>
                            <div class="col-4">
                              <div class="rld-single-input train-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de train"
                                />
                              </div>
                            </div>

                            <div class="col-4">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>

                            <div class="col-4">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="3">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="busInfoKnownArrival"
                                >Je connais mon bus : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="busInfoKnownArrival"
                                name="busInfoKnownArrival"
                                formControlName="busInfoKnownArrival"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.busInfoKnownArrival;
                              then busInfoKnownArrivalBlock;
                              else busInfoNotKnownArrivalBlock
                            "
                          ></div>

                          <!-- si je connais mon bus -->
                          <ng-template #busInfoKnownArrivalBlock>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input bus-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance de bus"
                                />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je ne connais pas mon bus-->
                          <ng-template #busInfoNotKnownArrivalBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu de rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchCase="4">
                        <div class="row">
                          <div class="col-12">
                            <div>
                              <label for="portInfoKnownArrival"
                                >Je connais mon navire : &nbsp;</label
                              >
                              <input
                                type="checkbox"
                                id="portInfoKnownArrival"
                                formControlName="portInfoKnownArrival"
                              />
                            </div>
                          </div>

                          <div
                            *ngIf="
                              searchForm.value.portInfoKnownArrival;
                              then portInfoKnownArrivalBlock;
                              else portInfoNotKnownArrivalBlock
                            "
                          ></div>
                          <!-- si je ne connais pas mon navire -->
                          <ng-template #portInfoNotKnownArrivalBlock>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div
                              class="col-xl-4 col-lg-6 col-md-6 col-centered"
                            >
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>

                          <!-- si je  connais  mon navire-->
                          <ng-template #portInfoKnownArrivalBlock>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input ship-icon">
                                <input
                                  type="text"
                                  placeholder="Numéro du navire"
                                />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input ship-icon">
                                <input
                                  type="text"
                                  placeholder="Provenance du navire"
                                />
                              </div>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input">
                                <input type="time" placeholder="Heure" />
                              </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6">
                              <div class="rld-single-input marker-icon">
                                <input
                                  type="text"
                                  placeholder="Lieu du rendez-vous"
                                  ngx-google-places-autocomplete
                                  [options]="options"
                                  #placesRef="ngx-places"
                                />
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div *ngSwitchDefault></div>
                    </div>

                    <div class="col-xl-12 col-lg-14 col-md-12 col-centered">
                      <a
                        class="btn btn-yellow"
                        (click)="etape3.click()"
                        style="margin-top: 10px;"
                        >SUIVANT</a
                      >
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tabs_3">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="col-12">
                        <label>Passagers :</label>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6">
                        <label>Adultes :&nbsp;</label>
                        <input type="number" value="1" />
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6">
                        <label>Enfants :&nbsp;</label>
                        <input type="number" value="0" />
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6">
                        <label>Bébé : </label>
                        <input type="number" value="0" />
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-12"><label>Date/Heure</label></div>
                      <div
                        class="col-xl-6 col-lg-6 col-md-6"
                        *ngIf="!isImmediate"
                      >
                        <label>Date :&nbsp;</label>
                        <input type="date" />
                      </div>
                      <div
                        class="col-xl-6 col-lg-6 col-md-6"
                        *ngIf="!isImmediate"
                      >
                        <label>Heure :&nbsp;</label>
                        <input type="time" formControlName="timeDeparture" />
                      </div>

                      <div
                        class="notification notice col-8 col-centered"
                        style="text-align: center;"
                        *ngIf="isImmediate"
                      >
                        <p>
                          Immédiat
                        </p>
                        <a class="close"></a>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-xl-12 col-lg-4 col-md-4">
                        <a class="btn btn-yellow" (click)="showInfo()"
                          >SEARCH</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="tab-pane fade" id="tabs_4">
                  <div class="rld-main-search">
                    <div class="row">
                      <div class="col-xl-2 col-lg-6 col-md-6">
                        <label for="siegeauto">Siège auto&nbsp;</label>
                        <input type="checkbox" id="siegeauto" />
                      </div>
                      <div class="col-xl-2 col-lg-6 col-md-6">
                        <label for="rehausseur">Rehausseur&nbsp;</label>
                        <input type="checkbox" id="rehausseur" />
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4">
                        <label for="extrabagages">Extra bagages&nbsp;</label>
                        <input type="number" id="extrabagages" />
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="rld-single-input car-icon">
                          <input type="text" placeholder="Marque préférée" />
                        </div>
                      </div>
                      <div class="col-xl-12 col-lg-14 col-md-12 col-centered">
                        <a class="btn btn-yellow" style="margin-top: 10px;"
                        (click)="goToOffers()">SEARCH</a
                        >
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- END HEADER SEARCH -->
