

.input-group-addon {
  min-width:10%; // You can adapt this

  text-align:center;
}

.rld-single-input.ship-icon:before {
  content: '\f21a';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.ship-icon input {
  padding-left: 50px;
}

.rld-single-input.plane-icon:before {
  content: '\f072';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.plane-icon input {
  padding-left: 50px;
}

.rld-single-input.car-icon:before {
  content: '\f1b9';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.car-icon input {
  padding-left: 50px;
}

.rld-single-input.marker-icon:before {
  content: '\f279';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.marker-icon input {
  padding-left: 50px;
}


.rld-single-input.bus-icon:before {
  content: '\f207';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.bus-icon input {
  padding-left: 50px;
}




.rld-single-input.train-icon:before {
  content: '\f238';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.train-icon input {
  padding-left: 50px;
}


.rld-single-input.home-icon:before {
  content: '\f015';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.home-icon input {
  padding-left: 50px;
}

.rld-single-input.flag-icon:before {
  content: '\f024';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.flag-icon input {
  padding-left: 50px;
}


.rld-single-input.person-icon:before {
  content: '\f0c0';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.person-icon input {
  padding-left: 50px;
}


.rld-single-input.calendar-icon:before {
  content: '\f133';
  font-size: 18px;
  font-family: fontawesome;
  color: #8731E8;
  position: absolute;
  top: 12px;
  background-size: auto;
  height: 17px;
  width: 12px;
  left: 19px;
  background-repeat: no-repeat;
}

.rld-single-input.calendar-icon input {
  padding-left: 50px;
}


.card {
  border: 0em;
}

.radio-inline {
  margin-left: 20px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

