 <!DOCTYPE html>
<html lang="zxx">

<body class="inner-pages">
    <!-- Wrapper -->
    <div id="wrapper">
 
 <!-- START SECTION LISTING DETAIL-->
        <section class="listing blog details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 blog-pots">
                        <div class="driver-header" style="font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);font-size: 14px;line-height: 1.42857143;color: #333;box-sizing: border-box;">
                            <div class="driver-avatar" style="font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);font-size: 14px;line-height: 1.42857143;color: #333;box-sizing: border-box;width: 128px;border-radius: 160px;position: relative;margin: 0 auto;">
                                <img src="https://public-eurecab.s3.eu-west-3.amazonaws.com/members/pictures/202007/121026/profile-121026-large.png" alt="Photo de profil pour le VTC Ettaher Hassan à Saint-Pierre-d'Oléron" class="driver-avatar__image" style="font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);font-size: 14px;line-height: 1.42857143;color: #333;box-sizing: border-box;border: 0;vertical-align: middle;width: 100%;height: 100%;border-radius: 160px;">
                            </div> 
                            <div class="driver-name" style="font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);font-size: 14px;line-height: 1.42857143;color: #333;box-sizing: border-box;text-align: center;margin-top: 24px;">
                                <h1 class="driver-name__head" style="-webkit-tap-highlight-color: rgba(0,0,0,0);text-align: center;box-sizing: border-box;margin: .67em 0;font-family: inherit;line-height: 1.1;margin-bottom: 10px;font-size: 44px;font-weight: 700;color: #35488d;margin-top: 8px;">
                                    Hassan - VTC à Saint-pierre-d'oléron
                                </h1>
                            </div> 
                            <div class="driver-grade" style="font-family: sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);font-size: 14px;line-height: 1.42857143;color: #333;box-sizing: border-box;text-align: center;">
                                <div class="driver-grade__label">
                                     Société Ettaher Hassan
                                </div> 
                                <div class="driver-grade__label">
                                    notée
                                </div> 
                            <div class="rating">
	                            <div class="stars">
		                            <i class="fa fa-star gold"></i>
		                            <i class="fa fa-star gold"></i>
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star"></i>
		                            <i class="fa fa-star"></i>
	                            </div>
	                            
                            </div>
                        </div>
                    </div>
                        <!-- Block heading end -->
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div class="blog-info details overview">
                                    <h5 class="mb-4">Overview</h5>
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam fugit, alias fuga aliquam quod tempora a nisi esse magnam nulla quas! Error praesentium, vero dolorum laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam.</p>
                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam fugit, alias fuga aliquam quod tempora a nisi esse magnam nulla quas! Error praesentium, vero dolorum laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam.</p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam fugit, alias fuga aliquam quod tempora a nisi esse magnam nulla quas! Error praesentium, vero dolorum laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum rerum beatae consequatur, totam.</p>
                                </div>
                            </div>
                        </div>
                        <!-- cars content -->
                        
                        
                        <div class="property-location mp">
                            <h5>Trajet a suivre</h5>
                            <div class="divider-fade"></div>
                            <div id="map-contact" class="contact-map"></div>
                        </div>
                        <div class="property-location mp">
                            <h5>Customer feedback</h5>
                            <div class="review-content-wrap">
                                <div class="review-content">
                                    <div class="review-rating-summary">
                                        <div class="review-rating-summary-inner">
                                            <div class="stats-average__count">
                                                <span class="stats-average__count-count">4.6</span>
                                            </div>
                                            <!-- end stats-average__count -->
                                            <div class="stats-average__rating p-0">
                                                <ul class="p-0 m-0">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <p class="text-center mb-2">out of 5.0</p>
                                            <!-- end stats-average__rating -->
                                        </div>
                                        <!-- end review-rating-summary-inner -->
                                        <div class="course-rating-text">
                                            <p class="course-rating-text__text">Food Rating</p>
                                        </div>
                                        <!-- end course-rating-text -->
                                    </div>
                                    <!-- end review-rating-summary -->
                                    <div class="review-rating-widget">
                                        <div class="review-rating-rate">
                                            <ul class="rate pl-00">
                                                <li class="review-rating-rate__items">
                                                    <div class="review-rating-inner__item">
                                                        <div class="review-rating-rate__item-text">5 stars</div>
                                                        <div class="review-rating-rate__item-fill">
                                                            <span class="review-rating-rate__item-fill__fill rating-fill-width1"></span>
                                                        </div>
                                                        <div class="review-rating-rate__item-percent-text">77 %</div>
                                                    </div>
                                                </li>
                                                <li class="review-rating-rate__items">
                                                    <div class="review-rating-inner__item">
                                                        <div class="review-rating-rate__item-text">4 stars</div>
                                                        <div class="review-rating-rate__item-fill">
                                                            <span class="review-rating-rate__item-fill__fill rating-fill-width2"></span>
                                                        </div>
                                                        <div class="review-rating-rate__item-percent-text">54 %</div>
                                                    </div>
                                                </li>
                                                <li class="review-rating-rate__items">
                                                    <div class="review-rating-inner__item">
                                                        <div class="review-rating-rate__item-text">3 stars</div>
                                                        <div class="review-rating-rate__item-fill">
                                                            <span class="review-rating-rate__item-fill__fill rating-fill-width3"></span>
                                                        </div>
                                                        <div class="review-rating-rate__item-percent-text">14 %</div>
                                                    </div>
                                                </li>
                                                <li class="review-rating-rate__items">
                                                    <div class="review-rating-inner__item">
                                                        <div class="review-rating-rate__item-text">2 stars</div>
                                                        <div class="review-rating-rate__item-fill">
                                                            <span class="review-rating-rate__item-fill__fill rating-fill-width4"></span>
                                                        </div>
                                                        <div class="review-rating-rate__item-percent-text">5 %</div>
                                                    </div>
                                                </li>
                                                <li class="review-rating-rate__items">
                                                    <div class="review-rating-inner__item">
                                                        <div class="review-rating-rate__item-text">1 stars</div>
                                                        <div class="review-rating-rate__item-fill">
                                                            <span class="review-rating-rate__item-fill__fill rating-fill-width5"></span>
                                                        </div>
                                                        <div class="review-rating-rate__item-percent-text">2 %</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- end review-rating-rate -->
                                    </div>
                                    <!-- end review-rating-widget -->
                                </div>
                                <!-- end review-content -->
                            </div>
                            <!-- end review-content-wrap -->
                        </div>
                        <!-- START SECTION ASSIGNED AGENTS -->
                        
                        
            
                        <!-- END SECTION ASSIGNED AGENTS -->
                    </div>
                    <aside class="col-lg-4 col-md-12 car">
                        <div class="widget">
                            <!-- Start: Book A Reservation -->
                            <!-- End: Book A Reservation -->

                            <!-- Start Agent Information -->
                            <div class="sidebar widget-boxed mt-33 mt-5">
                                <div class="widget-boxed-header">
                                    <h4>Votre Trajet</h4>
                                </div>
                                <div class="widget-boxed-body">
                                    <div class="sidebar-widget author-widget2">

                                        
                                       <!--<div class="ad-fields">
                                            <div class="ad-field-icon">
                                                <i class="fa fa-home"></i>
                                            </div> 
                                            <div class="ad-field-input">
                                                <div data-v-0a6cde86="" class="input-autocomplete admin-driver-map">
                                                    <label data-v-0a6cde86="" for="ad-search-from"><input data-v-0a6cde86="" type="text" autocomplete="off" id="ad-search-from" name="from" placeholder="Adresse de départ" class="input-field">
                                                    </label> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ad-fields">
                                            <div class="ad-field-icon">
                                                <i class="fa fa-flag"></i>
                                            </div> 
                                            <div class="ad-field-input">
                                                 <div data-v-0a6cde86="" class="input-autocomplete admin-driver-map">
                                                     <label data-v-0a6cde86="" for="ad-search-to"><input data-v-0a6cde86="" type="text" autocomplete="off" id="ad-search-to" name="to" placeholder="Adresse d'arrivée" class="input-field">
                                                     </label> 
                                                 </div>
                                            </div>
                                        </div>--> 
                                        
                                         <div class="portlet-details">
                                             <div>
                                                <label class="ad-field-input1">Adresse de départ </label> 
                                            </div> 
                                             <div>
                                                <label class="ad-field-input1" >Adresse d'arrivée </label> 
                                                
                                            </div> 
                                             
                                            <div>
                                                <label class="cyan bold">Durée estimée </label> 
                                                <span >1 heure 25 min</span>
                                            </div> 
                                            <div>
                                                <label class="cyan bold" >Distance </label> 
                                                <span >93,1 km</span>
                                            </div> 
                                            <div>
                                                <label class="cyan bold">Véhicle </label> 
                                                <span>Peugeot 508</span>
                                            </div> 
                                            <div>
                                                <label class="cyan bold">&nbsp;</label> 
                                                <span>(Economique)</span>
                                            </div> 
                                            <div>
                                                <label class="cyan bold">&nbsp;</label> 
                                                <span class="price-big">126.89 €</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-upcase">
                                            Réserver
                                        </button>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- End Agent Information -->

                            

                            
                            
                               
                               
                            
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- END SECTION LISTING DETAIL -->


        
        <!-- ARCHIVES JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/range-slider.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mmenu.min.js"></script>
        <script src="js/mmenu.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/popup.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/ajaxchimp.min.js"></script>
        <script src="js/newsletter.js"></script>
        <script src="js/timedropper.js"></script>
        <script src="js/datedropper.js"></script>
        <script src="js/jqueryadd-count.js"></script>
        <script src="js/leaflet.js"></script>
        <script src="js/leaflet-gesture-handling.min.js"></script>
        <script src="js/leaflet-providers.js"></script>
        <script src="js/leaflet.markercluster.js"></script>
        <script src="js/map-single.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/color-switcher.js"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                slidesPerGroup: 1,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                breakpoints: {
                    640: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 1,
                        spaceBetween: 40,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 50,
                    },
                }
            });

        </script>

        <script>
            if ($('.image-link').length) {
                $('.image-link').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            }
            if ($('.image-link2').length) {
                $('.image-link2').magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            }

        </script>
        <!-- Date Dropper Script-->
        <script>
            $('#reservation-date').dateDropper();

        </script>
        <!-- Time Dropper Script-->
        <script>
            this.$('#reservation-time').timeDropper({
                setCurrentTime: false,
                meridians: true,
                primaryColor: "#e8212a",
                borderColor: "#e8212a",
                minutesInterval: '15'
            });

        </script>

        <script>
            $(document).ready(function() {
                $('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
                    disableOn: 700,
                    type: 'iframe',
                    mainClass: 'mfp-fade',
                    removalDelay: 160,
                    preloader: false,
                    fixedContentPos: false
                });
            });

        </script>

        <script src="js/inner.js"></script>

    </div>
    <!-- Wrapper / End -->
</body>
<!-- Mirrored from code-theme.com/html/listifind/listing-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Aug 2020 17:49:20 GMT -->
</html>


