 <!-- START FOOTER -->
        <footer class="first-footer">
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="netabout">
                                <a href="index.html" class="logo">
                                    <img src="images/logo-white-blue.svg" alt="logo de comparateur">
                                </a>
                                
                            </div>
                            <div class="contact">
                                <ul>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <p class="in-p">navette de vatry, Paris</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <p class="in-p">+456 875 369 208</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <p class="in-p ti">comparator@gmail.com</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget quick-link clearfix">
                                <h3 class="widget-title">Nos services</h3>
                                <div class="quick-links">
                                    <ul class="one-half mr-5">
                                        <li><a href="index.html">Accueil</a></li>
                                        <li><a href="about.html">Qui sommes nous</a></li>
                                        <li><a href="listing-details.html">Offeres</a></li>
                                       
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget quick-link clearfix">
                                <h3>Plus d'informations</h3>
                                <ul class="one-half mr-5">
                                        <li><a href="blog-grid.html">Nos avantages</a></li>
                                        <li><a href="pricing-table.html">Comment ca marche</a></li>
                                        <li><a href="contact-us.html">Partenaires</a></li>
                                       
                                </ul>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="newsletters">
                                <h3>Pays</h3>
                                <p>France</p>
                                <p>Allemagne </p>
                                <p>Belgique</p>
                                <p>Italie</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-footer">
                <div class="container">
                    <p>Code-Theme. ©2020 All rights reserved. </p>
                    <ul class="netsocials">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->
        
