<!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr">
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                        <h3 > Vtc Compartor</h3>
                          <!--  <a href="index.html"><img src="images/logo-white-blue.svg" data-sticky-logo="images/logo-blue.svg" alt=""></a>-->
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr">
                            <ul id="responsive">
                                <li><a class="current" routerLink="" >Acceuil</a>
                                <!-- <ul>
                                        <li><a href="index.html">Home Image</a></li>
                                        <li><a href="index-2.html">Home Image-Video</a></li>
                                        <li><a href="index-3.html">Parallax Style 1</a></li>
                                        <li><a href="index-4.html">Map Style 1</a></li>
                                        <li><a href="index-5.html">Home Video</a></li>
                                        <li><a href="index-6.html">Home Slider</a></li>
                                        <li><a href="index-7.html">Parallax Style 2</a></li>
                                        <li><a href="index-8.html">Map Style 2</a></li>
                                        <li><a href="index-9.html">Fixed Image</a></li>
                                        <li><a href="index-10.html">Search Form</a></li>
                                        <li><a href="index-11.html">Slider Presentation</a></li>
                                        <li><a href="index-12.html">Food and Restaurant</a></li>
                                        <li><a href="index-13.html">Airbnb and Real Estate</a></li>
                                        <li><a href="index-14.html">Hotel and Resort</a></li>
                                        <li><a href="index-15.html">Car Sale and Rent</a></li>
                                        <li><a href="index-16.html">Job Board</a></li>
                                    </ul>-->
                                </li>
                                <li><a  routerLink="info/about" >Qui Sommes-Nous?</a>
                                   <!--<ul>
                                        <li><a href="#">List Layout</a>
                                            <ul>
                                                <li><a href="listings-full-list.html">Full Width</a></li>
                                                <li><a href="listings-list-right-sidebar.html">With Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Grid Layout</a>
                                            <ul>
                                                <li><a href="listings-full-grid.html">Full Width</a></li>
                                                <li><a href="listings-grid-right-sidebar.html">With Sidebar</a></li>
                                                <li><a href="listings-half-map.html">Half Map</a></li>
                                                <li><a href="listings-map.html">Top Map</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Single Listings</a>
                                            <ul>
                                                <li><a href="listing-details.html">Single Listing 1</a></li>
                                                <li><a href="listing-details-two.html">Single Listing 2</a></li>
                                                <li><a href="listing-details-three.html">Single Listing 3</a></li>
                                                <li><a href="listing-details-four.html">Single Listing 4</a></li>
                                                <li><a href="listing-details-five.html">Single Listing 5</a></li>
                                                <li><a href="listing-details-six.html">Single Listing 6</a></li>
                                            </ul>
                                        </li>
                                    </ul>-->
                                </li>
                                <li><a >Informations</a>
                                    <ul>
                                        <li><a routerLink="info/how-to-use-our-website">Comment ca Marche</a>
                                           <!-- <ul>
                                                <li><a href="shop-with-sidebar.html">Product Sidebar</a></li>
                                                <li><a href="shop-full-page.html">Product Fullpage</a></li>
                                                <li><a href="shop-single.html">Product Single</a></li>
                                                <li><a href="shop-checkout.html">Checkout Page</a></li>
                                                <li><a href="shop-order.html">Order Page</a></li>
                                            </ul>-->
                                        </li>
                                        <li><a routerLink="info/advantages">Les avantages</a>
                                           <!-- <ul>
                                                <li><a href="dashboard.html">Dashboard</a></li>
                                                <li><a href="user-profile.html">User Profile</a></li>
                                                <li><a href="my-listings.html">My Listings</a></li>
                                                <li><a href="favorited-listings.html">Favorited Listings</a></li>
                                                <li><a href="add-listing.html">Add Listing</a></li>
                                                <li><a href="payment-method.html">Payment Method</a></li>
                                                <li><a href="invoice.html">Invoice</a></li>
                                                <li><a href="change-password.html">Change Password</a></li>
                                            </ul>
                                            -->
                                        </li>
                                        <li><a routerLink="info/patners">Partenaires</a></li>
                                        <!--<li><a href="faq.html">Faq</a></li>
                                        <li><a href="pricing-table.html">Pricing Tables</a></li>
                                        <li><a href="payment-method.html">Payment Method</a></li>
                                        <li><a href="invoice.html">Invoice</a></li>
                                        <li><a href="thank-you.html">Thank You Page</a></li>
                                        <li><a href="404.html">Page 404</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="under-construction.html">Under Construction</a></li>
                                        <li><a href="ui-element.html">UI Elements</a></li>-->
                                    </ul>
                                </li>
                                <!--<li><a href="offres.html">Offres entreprises</a>
                                   <ul>
                                        <li><a href="#">Grid Layout</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Full Grid</a></li>
                                                <li><a href="blog-grid-sidebar.html">With Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">List Layout</a>
                                            <ul>
                                                <li><a href="blog-list.html">Full List</a></li>
                                                <li><a href="blog-list-sidebar.html">With Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>-->
                                <li><a routerLink="info/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->

                    <!-- Right Side Content / End -->


                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->

